td.day.disabled {
  color: red !important;
}
#first-container{
  position: relative;
  bottom: -43px;
}

#second-container{
  position: relative;
  bottom: -23px;
}

#user-name-disp{
  position: relative;
  width: 30%;
  border: none;
  bottom: 40px;
  background-color: rgba(230, 231, 231, 0);
  left: 238px;
  display: inline-block;
}

#hi{
  position: relative;
  float: left;
  bottom: 33px;
  left: 361px;
}

#user-days-disp{
  position: relative;
  width: 11%;
  border: none;
  bottom: -7px;
  left: 305px;
  top: -40px;
  background-color: rgba(230, 231, 231, 0);
  display: inline-block;
}
#you{
  bottom: 33px;
  position: relative;
  float: left;
  left: 581px;
}
#fd{
  position: relative;
  bottom: 33px;
  left: 663px;
  float: left;
}


#avfree {
    display: none;
}

#fileupload {
    position: relative;
}

#containerNone {
    display: none;
}

#tabs {
    margin-left: 1px;
    margin-right: 0px;
}

.tab-content {
    margin-left: 5px;
    margin-right: 1px;
}

.active a {
    background-color: blue;
}

#avatar {
    margin: 6px;
    width: 38px;
    height: 38px;
    background-color: red;
}

h3 {
    text-align: center;
}

.panel-body {
    text-align: left;
}

#info, #danger {
    display: none;
}


/*label {
    float: left;
}*/

#stwork {
    clear: both;
}

.navbar-nav>li {
    line-height: inherit;
    margin-top: 5px;
    margin-left: 5px;
}

li {
    list-style-type: none;
}

.btn-success {
    background-color: #286090;
    border-color: #286090;
}

.col-xs-3, .col-xs-2 {
    margin-bottom: 5px;
    float: left;
}

.modal-body>div:first-child, .modal-body>div:nth-child(2), .modal-body>div:nth-child(3) {
    display: none;
}

@media (max-width: 1200px) {
    .panel-body>.form-group>div:nth-of-type(4), .panel-body>.form-group>div:nth-of-type(7) {
        clear: left;
    }
    .col-xs-3, .col-xs-2 {
        min-width: 32%;
    }
}

@media (max-width: 990px) and (min-width:480px) {
    .panel-body>.form-group>div:nth-of-type(4), .panel-body>.form-group>div:nth-of-type(7) {
        clear: none;
    }
    .panel-body>.form-group>div:nth-of-type(3), .panel-body>.form-group>div:nth-of-type(5), .panel-body>.form-group>div:nth-of-type(7), .panel-body>.form-group>div:nth-of-type(9) {
        clear: left;
    }
    .col-xs-3, .col-xs-2 {
        min-width: 50%;
    }
}

@media (max-width: 480px) {
    .col-xs-3, .col-xs-2 {
        clear: both;
        margin-bottom: 10px;
        min-width: 100%;
        margin: auto;
    }
}

.active a {
    background-color: #d9edf7;
}
